<div class="dropdowns">
  <div class="field">
    <div class="control">
      <div class="select">
        <%= f.select :email, @emails,
                     {
                         include_blank: 'Select your preferred email address...',
                         :selected => u.email,
                         :required => true
                     } %>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <% categories_selected = (u.category || '').split(',') %>
      <% @categories.map do |key, value| %>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <%= f.check_box "category_#{value}", :class => 'check-style', :checked => categories_selected.include?(value) %>
              <%= key %>
            </label>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <div class="select">
        <%= f.country_select :country,
                             {
                                 include_blank: 'Optional: Select your country...',
                                 selected: u.country
                             } %>
      </div>
    </div>
  </div>
</div>
